
@font-face {
    font-family: Sheikh;
    src: url(Li\ Sheikh\ Hasina\ Unicode.ttf);
}

@font-face {
    font-family: classic;
    src: url(LiIhtishamDeshlipiUnicode-REgular.ttf);
}


@font-face {
    font-family: kalpurus;
    src: url(kalpurush.ttf);
}
